--
-- PostgreSQL database dump
--

\restrict 2NgGNB9eRkr65H26ayrIRB69744luCGVDV5lzwcixsV24hwSA4MitZzHQabjM7r

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.stock_transaction DROP CONSTRAINT IF EXISTS "FK_eeb529b8e2ddb4c3cd55400c648";
ALTER TABLE IF EXISTS ONLY public.master_barang DROP CONSTRAINT IF EXISTS "UQ_e1424b0f80d5a40557412c811a8";
ALTER TABLE IF EXISTS ONLY public.stock_transaction DROP CONSTRAINT IF EXISTS "UQ_94796342fb7ff7498f65018d016";
ALTER TABLE IF EXISTS ONLY public.sequence_counter DROP CONSTRAINT IF EXISTS "UQ_4784f56c9c2650c9e4475a42033";
ALTER TABLE IF EXISTS ONLY public.stock_transaction DROP CONSTRAINT IF EXISTS "PK_8a81a89b9130bda3a5277cce53a";
ALTER TABLE IF EXISTS ONLY public.master_barang DROP CONSTRAINT IF EXISTS "PK_494f1358813a8f037bda349d926";
ALTER TABLE IF EXISTS ONLY public.sequence_counter DROP CONSTRAINT IF EXISTS "PK_2f267054ec150d80a9cf9bed3d3";
DROP TABLE IF EXISTS public.stock_transaction;
DROP TABLE IF EXISTS public.sequence_counter;
DROP TABLE IF EXISTS public.master_barang;
DROP EXTENSION IF EXISTS "uuid-ossp";
--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: master_barang; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.master_barang (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nama_barang character varying(255) NOT NULL,
    sku character varying(50) NOT NULL,
    satuan_pembelian character varying(50) NOT NULL,
    satuan_penjualan character varying(50) NOT NULL,
    konversi_satuan numeric(18,6) NOT NULL,
    stok numeric(18,6) DEFAULT '0'::numeric NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: sequence_counter; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sequence_counter (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    prefix character varying(50) NOT NULL,
    last_number integer DEFAULT 0 NOT NULL
);


--
-- Name: stock_transaction; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stock_transaction (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nomor_transaksi character varying(50) NOT NULL,
    barang_id uuid NOT NULL,
    tanggal date NOT NULL,
    quantity numeric(18,6) NOT NULL,
    satuan character varying(50) NOT NULL,
    konversi_snapshot numeric(18,6) NOT NULL,
    status character varying(20) DEFAULT 'ACTIVE'::character varying NOT NULL,
    keterangan text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    tipe character varying(20) NOT NULL
);


--
-- Data for Name: master_barang; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: sequence_counter; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: stock_transaction; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: sequence_counter PK_2f267054ec150d80a9cf9bed3d3; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sequence_counter
    ADD CONSTRAINT "PK_2f267054ec150d80a9cf9bed3d3" PRIMARY KEY (id);


--
-- Name: master_barang PK_494f1358813a8f037bda349d926; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.master_barang
    ADD CONSTRAINT "PK_494f1358813a8f037bda349d926" PRIMARY KEY (id);


--
-- Name: stock_transaction PK_8a81a89b9130bda3a5277cce53a; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_transaction
    ADD CONSTRAINT "PK_8a81a89b9130bda3a5277cce53a" PRIMARY KEY (id);


--
-- Name: sequence_counter UQ_4784f56c9c2650c9e4475a42033; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sequence_counter
    ADD CONSTRAINT "UQ_4784f56c9c2650c9e4475a42033" UNIQUE (prefix);


--
-- Name: stock_transaction UQ_94796342fb7ff7498f65018d016; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_transaction
    ADD CONSTRAINT "UQ_94796342fb7ff7498f65018d016" UNIQUE (nomor_transaksi);


--
-- Name: master_barang UQ_e1424b0f80d5a40557412c811a8; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.master_barang
    ADD CONSTRAINT "UQ_e1424b0f80d5a40557412c811a8" UNIQUE (sku);


--
-- Name: stock_transaction FK_eeb529b8e2ddb4c3cd55400c648; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_transaction
    ADD CONSTRAINT "FK_eeb529b8e2ddb4c3cd55400c648" FOREIGN KEY (barang_id) REFERENCES public.master_barang(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 2NgGNB9eRkr65H26ayrIRB69744luCGVDV5lzwcixsV24hwSA4MitZzHQabjM7r

